<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css',version=assert_version) }} ">
</head>
<body>
    <h3 class="teste">it's work</h3>
</body>
</html>